@media(prefers-color-scheme:light) {
	body {
		background-color: dimgrey
	}
	.container-md {
		background-color: white
	}
    a:visited {
        color: purple
    }
    
}

@media(prefers-color-scheme:dark) {
	body {
		color: #ddd;
		background-color: black
	}
	.container-md, .modal-content {
		background-color: #111;
	}
    a {
        color: #acf;
    }
    a:visited {
        color: #a8a
    }
}

html, body, #root, .container-md {
    min-height: 100%;
}

.container-md {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem
}

td a {
    width: 100%;
    height: 100%;
    display: block
}

div a {
    width: 100%;
    height: 100%;
    display: block
}

tbody td {
    text-align: center
}

tbody td:nth-child(3),
tbody td:nth-child(4) {
    text-align: start
}

h3 {
    text-align: center
}

#table {
    margin-top: 0.75rem
}

#tablediv {
    overflow: auto
}

#table td:nth-child(4) {
    width: 100%;
    word-break: break-all;
}

#chooser-hover>h3 {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: auto;
}

td {
    vertical-align: middle;
}

#chooser-hover {
    display: flex;
}
